.left{
    max-width: 100%;
    max-height: 100%;
    /*background: url('https://scontent-jnb1-1.xx.fbcdn.net/v/t1.0-9/s960x960/64429795_2347370738830769_8056195617396883456_o.jpg?_nc_cat=101&_nc_sid=7aed08&_nc_eui2=AeFHQ1M6pRVqPIhyXVSZSM3qVJDfQdMsUgJUkN9B0yxSArA3Zrzet1feVGD-FCtZso5XyAzVELiiDuYcdZyofj6j&_nc_ohc=JwmTWFN78SAAX_AKpBN&_nc_ht=scontent-jnb1-1.xx&_nc_tp=7&oh=f0c8611950ac1a9b6f7982a8ec3b7ca2&oe=5EB1DE9C');
*/
background-color: crimson;
}
.right{
    background-color: cyan;
}